{
    "openapi": "3.0.0",
    "info": {
        "title": "Giant Tiger Shopify Product API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://gianttigercanada.myshopify.com"
        }
    ],
    "paths": {
        "/admin/api/2024-04/products.json": {
            "get": {
                "summary": "Get products with SKUs and images",
                "parameters": [
                    {
                        "name": "fields",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "id,title,variants,images"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "products": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "title": {
                                                        "type": "string"
                                                    },
                                                    "variants": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "sku": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "images": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "src": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
